# Copie ce fichier en ".env" et renseigne les vraies valeurs.
# Ne jamais committer le fichier ".env" dans un dépôt Git.

DB_HOST=192.168.0.204
DB_PORT=1539
DB_SID=ace
DB_USER=ace
DB_PASSWORD=change_moi
